@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    background: white;
}
:root {
  --color-primary: #165831;
  --color-secondary: #343434;
  --color-primarydark: #0d4022;
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-primarydark{
    background-color: var(--color-primarydark);
}
.text-primarydark{
    color: var(--color-primarydark);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary{
    color: var(--color-secondary)
}

.border-primary {
  border-color: var(--color-primary);
}
.border-primarydark{
    border-color: var(--color-primarydark);
}
:root {
  --color-primary: #165831; /* Your theme primary color */
}

/* #btn_skew {
  position: relative;
  overflow: visible;
}
#btn_skew .btn-content {
  background: var(--color-primary);
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.3s ease;
}
#btn_skew .arrow-icon {
  clip-path: polygon(30% 0, 100% 0, 70% 100%, 0% 100%);
  transition: transform 0.3s ease;
  z-index: 10;
}

#btn_skew .btn-content:focus {
  outline: 2px solid white;
  outline-offset: 2px;
} */


